*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  z-index: 2;
  height: 70px;
  background-color: rgba(255,105,0,255);
  position: fixed;
  width: 100%;
  padding: 21px 0;
  box-shadow: 1px 1px 1px 1px rgb(110, 110, 110);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav, .container{
  width: 75%;
  max-width: 1440px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

nav img{
  height: 40px;
}

.container{       /* inizio main */
  display: flex;
  width: 75%;
  max-width: 1440px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.top{
  margin-top: 120px;
}

.row{
  width: 100%;
  display: flex;
  gap: 32px;
}

.col{
  width: 33%;
  display: flex;
  flex-wrap: wrap;
}

.product-card{
  position: relative;
  display: flex;
}

.product-card img{
  max-width: 100%;
  max-height: 100%;
}

.product-card img:nth-child(2){
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  align-self: flex-start;
  display: none;
}

.product-card:hover img:nth-child(2){
  display: block; 
 }

.favourite{
  font-size: 40px;
  z-index: 1;
  position: absolute;
  top: 12px;
  right: 0;
  background-color: white;
  padding: 8px 16px;
}

.favourite:hover{
  color: red;
}

.labels{
  position: absolute;
  bottom: 48px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.sale, .sustainability{
  display: inline-block;
  padding: 5px 9px;
}

.sale{
  background-color: red;
}

.sustainability{
  background-color: green;
}

.description p{
  text-decoration: none;      /* non funziona */
}

.description p:nth-child(1), .description p:nth-child(2), .description p:nth-child(4){
  color: black;
}

.description p:nth-child(3), .description p:nth-child(4){
  display: inline-block;
  margin-bottom: 50px;
}

.description p:nth-child(2){
  font-weight: bold;
}

.description p:nth-child(3){
  font-weight: bold;
  color: red;
  margin-right: 5px;
}

footer{
  height: 100px;
  background-color: rgba(26,26,26,255);
  display: flex;
}

.f-container{
  justify-content: space-between;
  color: white;
}

.f-container div{
  line-height: 30px;
}

.large-footer-text {
  font-size: 18px;
}

.small-footer-text {
  font-size: 15px;
}

footer span {
  font-size: 14px;
}

footer a {
  color: white;
  margin-right: 7px;
}