*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  z-index: 1;
  height: 100px;
  background-color: rgba(255,105,0,255);
  display: flex;
  justify-content: space-around;
  padding: 1.3em 0;
  position: fixed;
  width: 100%;
}

nav ul{
  list-style: none;
}

nav img{
  height: 2.5rem;
}

.container{
  display: flex;
  width: 75%;
  max-width: 1440px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.top{
  margin-top: 200px;
}

.row{
  width: 100%;
  display: flex;
}

.product-card{
  width: 33%;
  display: flex;
}

.product-card img{
  padding: 2em;
  max-width: 100%;
  max-height: 100%;
}