*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  z-index: 1;
  background-color: rgba(255,105,0,255);
  display: flex;
  justify-content: space-around;
  padding: 1.3em 0;
  position: fixed;
  width: 100%;
}

nav ul{
  list-style: none;
}

nav img{
  height: 2.5em;
}